<%-include('./partials/_dash_header.ejs')%>
<form action="/auth/dashboard/update" method="post">
<div class="login">
    <div class="login-header">
      <h2>Rent property</h2>
    </div>
    <div class="login-form">
      <h3>Location</h3>
      <input type="text" placeholder="Location" name="location"/>
      <h3>Price</h3>
      <input type="number" placeholder="Price" name="price"/>
      <h3>Description</h3>
      <input type="textarea" placeholder="Description..." name="desc"/>
      <br>
      <button type="submit" class="login-button">Rent</button>
      <br>
  </div>
  </div>
</form>

<%-include('./partials/_footer.ejs')%>