<%-include('./partials/_header.ejs')%>
    <main>
        <div class="container">
            <div class="title">Rent Your Properties</div>
            <form action="/search" method="get" class="search-box">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search by location ...." name='search'>
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            
            <div class="rent">
                <div class="choose">
                    <a href="/viewproperties"><button>View properties</button></a>
                    <a href="/login"><button>Rent properties</button></a>
                </div>

            </div>
        </div>
    </main>



    <%-include('./partials/_footer.ejs')%>