<%-include('./_header.ejs')%>
    <main>
        <div class="container">
            <div class="title">Rent Your Properties</div>
            <div class="search">
                <form action="#" method="get" class="search-box"></form>
                <input type="text" class="searchTerm" placeholder="Search ....">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
                </form>
            </div>
            <div class="rent">
                <div class="choose">
                    <a href="/viewproperties"><button>View properties</button></a>
                    <a href="/login"><button>Rent properties</button></a>
                </div>

            </div>
        </div>
    </main>



    <%-include('./_footer.ejs')%>