<%-include('./partials/_header.ejs')%>
<form action="/auth/login" method="post">
  <div class="message">
    <p><% if(message != "") {%>
      <%=message%>
      <%}%>
    </p>
    </div>
  
<div class="login">
    <div class="login-header">
      <h2>Login</h2>
    </div>
    <div class="login-form">
      <h3>Email:</h3>
      <input type="email" placeholder="Email" name="email"/><br>
      <h3>Password:</h3>
      <input type="password" placeholder="Password" name="password"/>
      <br>
      <button type="submit" class="login-button">Sign in</button>
      <br>
      <a href="signup" class="sign-up">Sign Up!</a>
  </div>
  </div>
</form>
<%-include('./partials/_footer.ejs')%>