<%-include('./partials/_dash_header.ejs')%>
<form action="/auth/dashboard/rent" method="post" enctype="multipart/form-data">
<div class="login">
    <div class="login-header">
      <h2>Rent property</h2>
    </div>
    <div class="login-form">
      <!-- <h3>Renter name:</h3>
      <input type="text" placeholder="Renter name" name="rentername"/><br> -->
      <h3>Location</h3>
      <input type="text" placeholder="Location" name="location"/>
      <h3>Price</h3>
      <input type="number" placeholder="Price" name="price"/>
      <h3>Type</h3>
      <select name="type" id="type" >
        <option value="house" selected>House</option>
        <option value="apartment">Apartment</option>
        <option value="flat">Flat</option>
        <option value="room">Room</option>
      </select>
      <h3>Description</h3>
      <input type="textarea" placeholder="Description..." name="desc"/>
      <br>
      <input type="file" name='samplefile' accept="image/"/>
      <br>
      <button type="submit" class="login-button">Rent</button>
      <br>
  </div>
  </div>
</form>

<%-include('./partials/_footer.ejs')%>