<%-include('./_header.ejs')%>
<div class="properties-container">
<div class="search">
    <form action="#" method="get" class="search-box"></form>
    <input type="text" class="searchTerm" placeholder="Search ....">
    <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
    </button>
    </form>
</div>
</div>
<div class='property'>
    <div class="single-property">
        
    </div>
</div>

<%-include('./_footer.ejs')%>