* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }


   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(212, 211, 211);
    color: #fff;
    box-shadow: 6px 0 8px gray;
   }
   .nav-links a {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
   }
   /* LOGO */
   .logo img {
    height: 3em;
   }

   .house{
       color: green;
       font-size: 2em;
   }
   .rental{
       color: black;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 1.2em;
   }
   .menu li:hover {
    background-color: #686868;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

   .container{
       height:30em;
       background: url('../images/estate.jpg') no-repeat;
       background-size: cover;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .properties-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
   .container .title{
     font-size: 3.6em;
     color: limegreen;
   }

   .search {
    width: 60%;
    position: relative;
    display: flex;
    padding: 5em;
  }
  
  .searchTerm {
    width: 100%;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    color: #9DBFAF;
    font-size: 1.4em;
    border: none;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
    border: none;
  }
  
  .searchButton {
    width: 50px;
    height: 50px;
    text-align: center;
    color: rgb(0, 0, 0); 
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #747474;
  }

  .choose button{
      padding: 0.6em;
      border: none;
      background-color: limegreen;
      font-size: 1.2em;
      border-radius: 4px;
  }
  .choose button:hover{
    background-color: rgb(189, 248, 100)
  }
  
/* footer  */
   footer{
       height: 6em;
       background-color: rgb(32, 32, 32);
       display: flex;
       justify-content: center;
       align-items: center;
   }

   footer p {
       color: aliceblue;
   }




   /* form  */
   .login {
    margin:2em auto;
    max-width:500px;
  }
  .login-header {
    color:black;
    text-align:center;
  }
  /* .login-header h1 {
     text-shadow: 0px 5px 15px #000; */
  
  .login-form {
    border:.5px solid #fff;
    /* background:#4facff; */
    border-radius:10px;
    /* box-shadow:0px 0px 10px #000; */
  }
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color:rgb(0, 0, 0);
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="number"],
  .login input[type="email"],
  .login input[type="textarea"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #c2c2c2;
    outline:none;
    padding-left:10px;
  }
  .login-form button {
    height:30px;
    width:100px;
    background:limegreen;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: rgb(0, 0, 0);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }
  .sign-up{
    color:#000000;
    margin-left:-70%;
    cursor:pointer;
    text-decoration:underline;
  }
  .no-access {
    color:#E86850;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;
  }
  .try-again {
    color:#f2f2f2;
    text-decoration:underline;
    cursor:pointer;
  }
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .sign-up, .no-access {
      margin:10px 0;
    }
    .login-button {
      margin-bottom:10px;
    }
  }